/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    position: relative;
}

.section-1 {
    text-align: center;
    /* margin-bottom: 20px; */
    background-color: blanchedalmond;
    height:100px;
}
.head-desc{
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
}

.types-of-patients {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* font-weight: 500px; */
}

.heading h1 {
    margin: 0;
   font-style:oblique;
    font-size: 35px;
    margin-top: 5px;
   font-kerning: normal;
   color:rgb(47, 228, 101);
}

.head-desc p {
    margin: 0;
    font-size: 20px;
    color: gray;
}

.section-2 {
    position: relative;
}

.cards-container {
    position: relative;
    width: 100%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.card1,
.card2,
.card3 {
    position: absolute;
    background-color: antiquewhite;
    padding: 20px;
    border: 6px solid rgb(202, 212, 207);
    text-align: center;
    height:200px;
    width:210px;
    border-radius: 20px;
   
}

.card1 h3,
.card2 h3,
.card3 h3 {
    margin-top: 30;
}
.button{
    margin-bottom: 5px;
   background-color: rgb(154, 228, 235);
}

.card1 p,
.card2 p,
.card3 p {
    margin-bottom: 0;
    align-content: center;
    justify-content: space-between;
}

.card1 {
    top: 20%;
    left: 20%;
}

.card2 {
    top: 20%;
    left: 50%;
}

.card3 {
    top: 20%;
    left: 80%;
}
footer {
    border-top: 8px solid #333;
    padding: 1rem 1rem;
    color: #757575;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fae2e2;
  }
  
  .footer__row__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }

  .footer__row__3 > .dropdown__container {
    width: fit-content;
    border: 1px solid #757575;
    color: #757575;
  }
  
  .footer__row__3 > .dropdown__container > .language__drop__down {
    color: #757575;
  }
  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    margin-right: 10px;
    color: #000; /* Change color as needed */
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons a:hover {
    color: #007bff; /* Change color as needed */
  }
  

@media screen and (max-width: 768px) {
    /* .types-of-patients {
        flex-direction: column;
        align-items: center;
    } */

    .heading {
        /* margin-top: 20px; */
        font-size: 5px;
    }

    .head-desc {
        display: flex;
        justify-content: space-between;
        /* gap: 40px; */
    }
    .section-2{
        background-image: url(/field.jpg);
    }
    .card1,
    .card2,
    .card3 {
        position: static;
        margin-top: 20px;
        left: auto;
        top: auto;
    }
    .image{
        width:500px;
    }
}
